{% extends 'base.html' %}

{% block title %}Відновлення пароля | LuxeCharm{% endblock %}

{% block content %}
<section class="container">
    <h1 class="cat-title">ВІДНОВЛЕННЯ ПАРОЛЯ</h1>
    <p class="contacts-intro">Введіть свій Email, і ми надішлемо вам інструкції для зміни пароля.</p>
    
    <div class="auth-form-container">
        <form method="post" class="luxe-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="luxe-btn">Надіслати код</button>
        </form>
    </div>
</section>
{% endblock %}