{% extends 'base.html' %}
{% load static %}

{% block title %}Каталог | LuxeCharm{% endblock %}

{% block content %}
<section class="categories">
    <div class="container">
        <h2 class="cat-title">КАТЕГОРІЇ</h2>

        <div class="cards">
            {% for category in categories %}
            <a href="/catalog/{{ category.id }}/" class="card">
                <div class="card-inner">
                    <!-- Логіка вибору фото за назвою категорії -->
                    {% if category.name == "Кільця" %}
                        <img src="{% static 'images/ring.jpg' %}" alt="Кільця">
                    {% elif category.name == "Сережки" %}
                        <img src="{% static 'images/earrings.jpg' %}" alt="Сережки">
                    {% elif category.name == "Браслети" %}
                        <img src="{% static 'images/bracelet.jpg' %}" alt="Браслети">
                    {% else %}
                        <img src="{% static 'images/necklace.jpg' %}" alt="Підвіски">
                    {% endif %}

                    <div class="card-title-frame">
                        <h3>{{ category.name }}</h3>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}