{% extends 'base.html' %}
{% load static %}

{% block title %}Контакти | LuxeCharm{% endblock %}

{% block content %}
<main class="container">
    <section class="categories"> <!-- Використовуємо існуючий клас для відступів та центрування заголовка -->
        <h1 class="gold-text cat-title">ЗВ'ЯЖІТЬСЯ З НАМИ</h1>

        <div class="product-card"> <!-- Використовуємо структуру картки для блоку контактів -->
            <div class="product-info">

                <div class="feature-item">
                    <i class="fa-solid fa-phone gold-text"></i>
                    <p class="product-description">+380 97 593 68 99</p>
                </div>

                <div class="feature-item">
                    <i class="fa-solid fa-envelope gold-text"></i>
                    <p class="product-description">dianakaliukh09@gmail.com</p>
                </div>

                <div class="feature-item">
                    <i class="fa-solid fa-location-dot gold-text"></i>
                    <p class="product-description">м. Луцьк, Україна</p>
                </div>

                <div class="category-title"> <!-- Контейнер для кнопки -->
                    <a href="/" class="btn">НА ГОЛОВНУ</a>
                </div>

            </div>
        </div>
    </section>
</main>
{% endblock %}