{% extends 'base.html' %}
{% load static %}

{% block title %}LuxeCharm | Ексклюзивні ювелірні вироби{% endblock %}

{% block content %}
<section class="hero">
    <div class="container hero-container">
        <div class="hero-text">
            <h1>LuxeCharm — гармонія розкоші та стилю</h1>
            <p>Ми перетворюємо благородні метали та сяючі камені на ваші персональні талісмани — прикраси, що зберігають емоції, спогади та особливі моменти життя. Кожен виріб створюється з увагою до деталей, щоб підкреслити вашу індивідуальність, стиль і внутрішню силу. Для нас ювелірні прикраси — це не просто аксесуари, а символи кохання, успіху, натхнення та вашої унікальної історії.</p>
            <a href="{% url 'catalog' %}" class="luxe-btn">Перейти до каталогу</a>
        </div>
        <div class="hero-img-wrapper">
            <img src="{% static 'images/hero1.jpg' %}" alt="Ювелірна колекція LuxeCharm">
        </div>
    </div>
</section>

<section class="categories popular-section">
    <div class="container">
        <h2 class="cat-title">ПОПУЛЯРНІ КАТЕГОРІЇ</h2>

        <div class="cards popular-cards-grid">
            {% for product in popular_products|slice:":4" %} <div class="card">
                <a href="{% url 'product_detail' product.id %}" class="card-main-link">
                    <div class="card-inner">
                        <div class="image-box">
                            {% if product.image %}
                                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                            {% else %}
                                <img src="{% static 'images/necklace.jpg' %}" alt="Товар">
                            {% endif %}
                        </div>
                        <div class="card-title-frame">
                            <h3>{{ product.name }}</h3>
                        </div>
                    </div>
                </a>
            </div>
            {% empty %}
            <p class="empty-msg">Наразі популярних товарів не знайдено.</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}