{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="products-selection">
    <div class="container">
        <h1 class="cat-title">{{ category.name|upper }}</h1>

        <div class="product-horizontal-list">
            {% for product in products %}
            <a href="{% url 'product_detail' product.pk %}" class="product-card-link">
                <div class="product-horizontal-card">

                    <div class="product-img-side">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        {% endif %}
                    </div>

                    <div class="product-info-side">
                        <h3>{{ product.name }}</h3>
                        <p class="product-desc-short">{{ product.description|truncatewords:20 }}</p>
                        <div class="product-price">{{ product.price }} грн</div>
                    </div>

                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}